<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoGamers</title>
</head>
<body>
    <h1>Bienvenido a VideoGamers</h1>
    <p>Esta es la página principal de nuestro arsenal de juegos y consolas</p>
    <p><a href="/realtimeproducts">Ver Productos en Tiempo Real</a></p>
</body>
</html>
