<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul>
        {{#each productos}}
            <li>{{nombre}} - Precio: ${{precio}}</li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        
        socket.on('productosActualizados', (productos) => {
            actualizarListaProductos(productos);
        });

        function actualizarListaProductos(productos) {
            const listaProductos = document.querySelector('#lista-productos');
            listaProductos.innerHTML = '';

            productos.forEach(producto => {
                const nuevoProducto = document.createElement('li');
                nuevoProducto.textContent = producto.nombre + " - Precio: $" + producto.precio;
                listaProductos.appendChild(nuevoProducto);
            });
        }
    </script>
</body>
</html>
