<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos a tiempo real</title>
</head>
<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul>
        {{#each productos}}
            <li>{{nombre}} - Precio: ${{precio}}</li>
        {{/each}}
    </ul>

    <form id="formAgregarProducto">
        <input type="text" id="nombreProducto" placeholder="Nombre del Producto">
        <input type="number" id="precioProducto" placeholder="Precio del Producto">
        <button type="submit">Sumar producto</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('productosActualizados', (productos) => {
            actualizarListaProductos(productos);
        });

        function actualizarListaProductos(productos) {
            const listaProductos = document.querySelector('ul');
            listaProductos.innerHTML = ''; 

            productos.forEach(producto => {
                const nuevoProducto = document.createElement('li');
                nuevoProducto.textContent = `${producto.nombre} - Precio: $${producto.precio}`;
                listaProductos.appendChild(nuevoProducto);
            });
        }

        document.getElementById('formAgregarProducto').addEventListener('submit', (event) => {
            event.preventDefault();
            const nombre = document.getElementById('nombreProducto').value;
            const precio = document.getElementById('precioProducto').value;
            if (nombre.trim() && precio.trim()) {
                const nuevoProducto = { nombre, precio: parseFloat(precio) };
                socket.emit('agregarProducto', nuevoProducto);
                document.getElementById('nombreProducto').value = '';
                document.getElementById('precioProducto').value = '';
            } else {
                alert('Por favor ingresa un nombre y un precio válido para el producto.');
            }
        });
    </script>
</body>
</html>
