<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
        <h1>Videogamers</h1>
        <nav>
            <ul>
                <li><a href="/views/layout/main.hbs">Inicio</a></li>
                <li><a href="/views/home.hbs">Bienvenida</a></li>
                <li><a href="/views/realTimeProducts.hbs">Consolas</a></li>
            </ul>
        </nav>
    </header>

    <main>
       {{{body}}}
    </main>

    <footer>
        <p>&copy; {{currentYear}} Tienda de Consolas de Videojuegos</p>
    </footer>

    
    <script src="/routes/products.js"></script>
    <script src="/routes/consoles.js"></script>
    <script src="/models/Cart.js"></script>
    <script src="/models/Console.js"></script>
</body>
</html>